/*
0-360px  phone-small
0-600px   phone
600-900px tablet-portrait
900-1200px tablet-landscape
1200-1800px desktop  screen
1800-- big desktop

BREAKPOINT ARGUMENTS
-phone
-tab-port
-tab-land
-desktop
-big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-weight: 500;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 87.5em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 52%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}
@media only screen and (max-width: 22.5em) {
  html {
    font-size: 25%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: rgb(18, 252, 5);
  color: rgb(255, 255, 255);
}

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  80% {
    transform: translatex(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }
  80% {
    transform: translatex(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  color: rgb(255, 255, 255);
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveinleft 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 2rem;
    font-size: 5rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 4rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  animation: moveinright 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 1rem;
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
    font-size: 1.4rem;
  }
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: rgb(119, 119, 119);
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, rgb(18, 252, 5), rgb(7, 128, 41));
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.2s;
}
@media only screen and (max-width: 22.5em) {
  .heading-secondary {
    letter-spacing: 0.01rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    letter-spacing: 0.1rem;
    font-size: 2.6rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.tertiary-heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.8rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.text {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
}
@media only screen and (max-width: 22.5em) {
  .text {
    font-size: 1.6rem;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-botttom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-botttom-big {
    margin-bottom: 6.3rem !important;
  }
}

.u-margin-botttom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-botttom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-botttom-medium1 {
  margin-bottom: 2.2rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-botttom-medium1 {
    margin-bottom: 1.9rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.6rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-small {
    margin-bottom: 1.35rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-big {
    margin-top: 6.5rem !important;
  }
}

.u-margin-botttom-huge {
  margin-bottom: 10rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-botttom-huge {
    margin-bottom: 8rem !important;
  }
}

.u-margin-top-huge {
  margin-top: 11rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-huge {
    margin-top: 8rem !important;
  }
}

.u-margin-top-small {
  margin-top: 2.5rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-small {
    margin-top: 1.9rem !important;
  }
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@support (-webkit-backdrop-filter: blur(5rem)) or (backdrop-filter:blur(5rem)) {
  .popup {
    -webkit-backdrop-filter: blur(5rem);
    backdrop-filter: blur(5rem);
    background-color: rgba(0, 0, 0, 0.28);
  }
}
.popup__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  display: table;
  width: 75%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.9);
  border-radius: 0.3rem;
  transition: all 0.25s;
  opacity: 0;
  transform: scale(0.4) skewX(10deg);
}
@media only screen and (max-width: 37.5em) {
  .popup__content {
    display: table;
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup__content {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 2rem;
  }
}
.popup__left {
  position: relative;
  width: 33.33333%;
  display: table-cell;
}
@media only screen and (max-width: 37.5em) {
  .popup__left {
    width: 100%;
    height: 18.3rem;
    display: table-row;
    padding: 2rem;
  }
}
.popup__right {
  position: relative;
  width: 66.666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media only screen and (max-width: 37.5em) {
  .popup__right {
    width: 100%;
    text-align: center;
    display: table-row;
    padding: 3rem;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .popup__img {
    display: t;
    width: 45%;
    padding: 2rem;
    height: 100%;
    display: inline-block;
  }
  .popup__img:not(:last-child) {
    margin-right: 0rem;
    margin-left: 2.2rem;
  }
}
.popup__text {
  font-size: 2.2rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 0.1rem solid #999;
  hyphens: auto;
}
@media only screen and (max-width: 56.25em) {
  .popup__text {
    font-size: 2rem;
    margin-bottom: 2rem;
    column-count: 1;
    column-gap: 0;
    column-rule: none;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: scale(1) skewX(0deg);
}
.popup .close:link, .popup .close:visited {
  text-decoration: none;
  font-size: 2.2rem;
  color: #333;
  position: absolute;
  top: 0;
  right: 1.5rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 37.5em) {
  .popup .close:link, .popup .close:visited {
    right: 1rem;
    font-size: 5rem;
    color: red;
    transition: none;
  }
}
.popup .close:hover {
  color: rgb(18, 252, 5);
  transform: rotateY(180deg) scale(2) translateY(0.2rem);
}
@media only screen and (max-width: 37.5em) {
  .popup .close:hover {
    color: red;
    transform: none;
  }
}
.popup .close:active {
  color: red;
  transform: scale(3) translateY(0.5rem);
}
@media only screen and (max-width: 37.5em) {
  .popup .close:active {
    color: red;
    transform: none;
  }
}

.btn, .btn:visited, .btn:link {
  position: relative;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
}
.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
}
.btn--white {
  background-color: rgb(255, 255, 255);
  color: rgb(119, 119, 119);
}
.btn--white::after {
  background-color: rgb(255, 255, 255);
}
.btn--green {
  background-color: rgb(9, 170, 0);
  color: rgb(255, 255, 255);
}
.btn--green::after {
  background-color: rgb(9, 170, 0);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animatted {
  animation: moveinbottom 1.5s ease 0.75s;
  animation-fill-mode: backwards;
}

.button-text:link, .button-text:visited {
  color: rgb(9, 170, 0);
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid rgb(9, 170, 0);
  padding: 0.3rem;
  transition: all 0.2s;
}
.button-text:hover {
  background-color: rgb(9, 170, 0);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translate(-0.2rem);
}
.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transform: translate(0);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form-input {
  font-size: 1.5remm;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-bottom: 0.3rem solid transparent;
  display: block;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.3rem solid rgb(18, 252, 5);
}
.form-input:focus:invalid {
  border-bottom: 0.3rem solid rgb(255, 119, 48);
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
  margin-top: 0.7rem;
  margin-left: 2rem;
  transition: all 0.3s;
}
.form-input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.8rem;
  padding-left: 4.2rem;
  position: relative;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  border-radius: 50%;
  border: 0.5rem solid rgb(18, 252, 5);
  display: inline-block;
  position: absolute;
  top: -0.35rem;
  left: 0;
}
.form__radio-button::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(18, 252, 5);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo {
    position: relative;
    width: 33.3333333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.9);
  }
}
.composition__photo--p1 {
  left: -2rem;
  top: 13rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p1 {
    left: 0;
    top: 0rem;
  }
}
.composition__photo--p2 {
  right: -10rem;
  top: 9rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    right: 0;
    top: -3rem;
    transform: scale(1.2);
  }
}
.composition__photo--p3 {
  left: 30%;
  top: -2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p3 {
    left: 0;
    top: 0rem;
  }
}
.composition__photo:hover {
  outline: 1.2rem solid rgb(7, 128, 41);
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.9);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(234, 234, 234, 0.8);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0, 1.5rem 4rem rgba(0, 0, 0, 0.7);
  transition: transform 0.4s;
}
.feature-box-icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, rgb(18, 252, 5), rgb(7, 128, 41));
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .feature-box-icon {
    margin-bottom: 0.2rem;
    display: block;
  }
}
@media only screen and (max-width: 37.5em) {
  .feature-box-icon {
    margin-bottom: 0rem;
    display: inline-block;
    line-height: 2rem;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.feature-box-text {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
}
@media only screen and (max-width: 56.25em) {
  .feature-box-text {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .feature-box-text {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.card {
  height: 53rem;
  perspective: 90rem;
  -moz-perspective: 90rem;
  position: relative;
}
.card__side {
  height: 53rem;
  transition: all 1.2s;
  color: aqua;
  font-size: 2rem;
  position: absolute;
  border-radius: 0.3rem;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgb(0, 0, 0);
  backface-visibility: hidden;
}
.card__side--front {
  background-color: rgb(255, 255, 255);
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, rgb(255, 185, 0), rgb(255, 119, 48));
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, rgba(18, 252, 5, 0.85), rgba(9, 170, 0, 0.85));
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #348fff, #1e0ad7);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, rgb(255, 185, 0), rgb(255, 119, 48)), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(rgba(18, 252, 5, 0.85), rgba(9, 170, 0, 0.85)), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(rgba(52, 143, 255, 0.85), rgba(30, 10, 215, 0.85)), url(../img/nat-7.jpg);
}
.card__heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: right;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span-2 {
  background-image: linear-gradient(rgba(18, 252, 5, 0.85), rgba(9, 170, 0, 0.85));
}
.card__heading-span-3 {
  background-image: linear-gradient(rgba(52, 143, 255, 0.85), rgba(30, 10, 215, 0.85));
}
.card__details {
  padding: 1rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  color: rgb(119, 119, 119);
}
.card__details ul li:not(:last-child) {
  border-bottom: 0.3rem solid rgb(234, 234, 234);
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.card__price-box {
  text-align: center;
  color: rgb(255, 255, 255);
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media only screen and (max-width: 56.25em) {
  .card {
    height: auto;
    overflow: hidden;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 2rem rgb(0, 0, 0);
    margin-bottom: 3.5rem;
    background-color: rgb(255, 255, 255);
  }
  .card__side {
    border-radius: 0;
    box-shadow: 0 0rem 0rem rgb(0, 0, 0);
    height: auto;
    position: relative;
    width: 100%;
  }
  .card__side--back {
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    padding: 2rem 0;
    width: 100%;
    transform: translate(0);
  }
  .card__price-box {
    text-align: center;
  }
  .card__price-only {
    font-size: 1.4rem;
  }
  .card__price-value {
    font-size: 6rem;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3rem 6rem black;
  transform: skewX(-12deg);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
}
@media only screen and (max-width: 37.5em) {
  .story {
    transform: skewX(0);
    width: 95%;
    padding: 4rem;
    padding-left: 0;
    text-align: center;
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  text-align: center;
  position: relative;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
}
@media only screen and (max-width: 37.5em) {
  .story__shape {
    float: none;
    text-align: center;
    transform: translateX(-3rem) skewX(0);
  }
}
.story_image {
  z-index: -5;
  height: 100%;
  backface-visibility: hidden;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.6s;
}
@media only screen and (max-width: 37.5em) {
  .story_image {
    transform: translateX(0) scale(1.2);
  }
}
.story__text {
  transform: skewX(12deg);
}
@media only screen and (max-width: 37.5em) {
  .story__text {
    transform: skewX(0);
    font-size: 2.2rem;
    color: #333;
    font-weight: 500;
    hyphens: auto;
    height: auto;
    padding: 2rem;
  }
}
.story__hold {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 2.5rem;
  width: 75%;
  opacity: 0;
  backface-visibility: hidden;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(9, 170, 0);
  transition: all 0.6s;
}
@media only screen and (max-width: 37.5em) {
  .story__hold {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 2.5rem;
    width: 60%;
    opacity: 1;
  }
}
.story:hover .story__hold {
  top: 0;
  opacity: 1;
  transform: translate(-50% -50%);
}
@media only screen and (max-width: 37.5em) {
  .story:hover .story__hold {
    top: 0;
    opacity: 1;
    transform: translate(0 0);
  }
}
.story:hover .story_image {
  transform: translateX(-4rem) scale(1);
  filter: blur(0.3rem) brightness(80%);
}
@media only screen and (max-width: 37.5em) {
  .story:hover .story_image {
    transform: translateX(0) scale(1.2);
    filter: blur(0) brightness(100%);
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -15;
  height: 100%;
  opacity: 0.2;
  width: 100%;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: rgb(255, 255, 255);
  height: 6rem;
  width: 6rem;
  position: fixed;
  text-align: center;
  top: 5.8rem;
  right: 6.3rem;
  border-radius: 50%;
  z-index: 111;
  box-shadow: 0 2.5rem 3.5rem rbga(rgba(0, 0, 0, 0), 0.6);
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 2.8rem;
    right: 2.8rem;
  }
}
.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6.5rem;
  cursor: pointer;
  background-image: radial-gradient(rgb(18, 252, 5), rgb(7, 128, 41));
  z-index: 100;
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  opacity: 0;
  transform: rotateZ(60deg) translateY(5rem);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  margin-top: -15rem;
  top: 40%;
  left: 40%;
  list-style: none;
  text-align: center;
}
.navigation__item {
  margin: 1rem;
}
.navigation__item span {
  margin-right: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(255, 255, 255) 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: rgb(9, 170, 0);
  transform: translateX(2rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  transform: rotateZ(0deg) translateY(0);
}
.navigation__icon {
  position: relative;
  margin-top: 2.8rem;
  transition: all 0.2s;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: rgb(119, 119, 119);
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -1rem;
}
.navigation__icon::after {
  top: 1rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1.2rem;
  transform: scale(1.1);
}
.navigation__button:hover .navigation__icon::after {
  top: 1.2rem;
  transform: scale(1.1);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
  transform: rotate(-135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0;
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  color: rgb(234, 234, 234);
  font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 6.5rem 0;
    text-align: center;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 5rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: 0.1rem solid #999;
  display: inline-block;
  padding-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    display: block;
    padding-top: 1.5rem;
  }
}
.footer__list {
  list-style: none;
}
@media only screen and (max-width: 56.25em) {
  .footer__list {
    text-align: center;
  }
}
.footer__item {
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__item {
    display: block;
  }
}
.footer__item:not(:last-child) {
  margin-right: 1.2rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__item:not(:last-child) {
    margin-right: 0;
  }
}
.footer__link {
  transition: all 0.4s;
}
.footer__link:link, .footer__link:visited {
  background-color: #333;
  color: rgb(234, 234, 234);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.footer__link:hover, .footer__link:active {
  color: rgb(18, 252, 5);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 0.1rem solid #999;
  padding-top: 2rem;
  width: 85%;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    float: none;
    display: inline-block;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(7, 128, 41, 0.4), rgba(9, 170, 0, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
}
@media only screen and (max-width: 22.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 6.5rem;
  width: 10rem;
  background-size: 100%;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 72rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .row {
    max-width: 55rem;
  }
}
@media only screen and (max-width: 22.5em) {
  .row {
    max-width: 45rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 37.5em) {
  .row:not(:last-child) {
    margin-bottom: 5rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
    padding: 0 2.5rem;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 6rem) / 3) + 6rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 6rem) / 4) + 6rem
    );
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + (2 * 6rem));
}

.section-about {
  background-color: rgb(234, 234, 234);
  padding: 25rem 0;
  margin-top: -20vh;
}
@media only screen and (max-width: 56.25em) {
  .section-about {
    padding: 18rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -12rem;
  background-image: linear-gradient(to right bottom, rgba(7, 128, 41, 0.4), rgba(9, 170, 0, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
}
@media only screen and (max-width: 56.25em) {
  .section-features {
    padding: 12rem 0;
  }
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  background-color: rgb(234, 234, 234);
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;
}
@media only screen and (max-width: 56.25em) {
  .section-tours {
    padding: 18rem 0 12rem 0;
  }
}

.try {
  background-color: rgb(119, 119, 119);
  padding: 25rem 0 50rem 0;
  margin-top: -8.5rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgb(18, 252, 5), rgb(7, 128, 41));
}
@media only screen and (max-width: 56.25em) {
  .section-book {
    padding: 14rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
}
@media only screen and (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(to right top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 70%), url(../img/nat-10.jpg);
    background-size: cover;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.9);
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
    padding: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */