.row {
  max-width: $grid-width;
  //background-color: #eeeeee;
  margin: 0 auto;
  @include respond(tab-port) {
    max-width: 72rem;
  }

  @include respond(phone) {
    max-width: 55rem;
  }

  @include respond(phone-small) {
    max-width: 45rem;
  }

  &:not(:last-child) {
    margin-bottom: $vertical-gutter;
    @include respond(phone) {
      margin-bottom: $vertical-gutter-small;
    }
  }

  @include clear-fix;

  [class^="col-"] {
    //background-color: chartreuse;
    float: left;

    &:not(:last-child) {
      margin-right: $horizontal-gutter;
      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $vertical-gutter-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
      padding: 0 2.5rem;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$horizontal-gutter}) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{$horizontal-gutter}) / 3);
  }
  .col-2-of-3 {
    width: calc(
      2 * ((100% - 2 * #{$horizontal-gutter}) / 3) + #{$horizontal-gutter}
    );
  }
  .col-1-of-4 {
    width: calc((100% - 3 * #{$horizontal-gutter}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * ((100% - 3 * #{$horizontal-gutter}) / 4) + #{$horizontal-gutter}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * ((100% - 3 * #{$horizontal-gutter}) / 4) + (2 * #{$horizontal-gutter})
    );
  }
}
