.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &-input {
    font-size: 1.5remm;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    font-family: inherit;
    color: inherit;
    border: none;
    border-bottom: 0.3rem solid transparent;
    display: block;
    width: 90%;
    background-color: rgba($color-white, 0.5);
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 0.3rem solid $primary-color;

      &:invalid {
        border-bottom: 0.3rem solid $secondary-color-dark;
      }
    }
    &::-webkit-input-placeholder {
      color: $color-darkgray;
    }
  }

  &__label {
    font-size: 1.3rem;
    font-weight: 700;
    display: block;
    margin-top: 0.7rem;
    margin-left: 2rem;
    transition: all 0.3s;
  }

  &-input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    padding-left: 4.2rem;
    position: relative;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 50%;
    border: 0.5rem solid $primary-color;
    display: inline-block;
    position: absolute;
    top: -0.35rem;
    left: 0;

    &::after {
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: $primary-color;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
