.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  color: $color-white;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveinleft 1s ease-out;
    @include respond(phone) {
      letter-spacing: 2rem;
      font-size: 5rem;
    }
    @include respond(phone-small) {
      letter-spacing: 1rem;
      font-size: 4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveinright 1s ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 1.4rem;
    }
    @include respond(phone-small) {
      letter-spacing: 0.5rem;
      font-size: 1.4rem;
    }
  }
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-gray;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, $primary-color, $tertiary-color);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.2s;

  @include respond(phone-small) {
    letter-spacing: 0.01rem;
    font-size: 2rem;
  }
  @include respond(phone) {
    letter-spacing: 0.1rem;
    font-size: 2.6rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
  }
}

.tertiary-heading {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.text {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  @include respond(phone-small) {
    font-size: 1.6rem;
  }
}
