//colors
$primary-color: rgb(18, 252, 5);
$secondary-color: rgb(9, 170, 0);

$secondary-color-light: rgb(255, 185, 0);
$secondary-color-dark: rgb(255, 119, 48);

$tertiary-color: rgb(7, 128, 41);
$tertiary-color-light: rgba(52, 143, 255, 0.945);
$tertiary-color-dark: rgb(30, 10, 215);

$color-white: rgb(255, 255, 255);
$color-gray: rgb(119, 119, 119);
$color-darkgray: #999;
$color-darkgra: #333;
$color-black: rgba(0, 0, 0, 0);
$color-slitgray: rgb(234, 234, 234);

$shadow-color: rgb(0, 0, 0);

//grid
$grid-width: 114rem;
$vertical-gutter: 8rem;
$vertical-gutter-small: 5rem;
$horizontal-gutter: 6rem;

//font
$default-font-size: 1.8rem;
